In [53]:
import pandas as pd
data=pd.read_csv(r'F:\mukulml\datamites\svm\car_evaluation.csv')

In [54]:
data.columns=['buying','maint','doors','persons','lug_boot','safety','outcome']

In [55]:
data.persons.replace('more',5,inplace=True)
data.doors.replace('5more',5,inplace=True)

In [56]:
data.shape

(1727, 7)

In [57]:
from sklearn.preprocessing import LabelEncoder

enc=LabelEncoder()
data.buying=enc.fit_transform(data.buying)
data.maint=enc.fit_transform(data.maint)
data.lug_boot=enc.fit_transform(data.lug_boot)
data.safety=enc.fit_transform(data.safety)

In [58]:
data.head(10)

   buying  maint doors persons  lug_boot  safety outcome
0       3      3     2       2         2       2   unacc
1       3      3     2       2         2       0   unacc
2       3      3     2       2         1       1   unacc
3       3      3     2       2         1       2   unacc
4       3      3     2       2         1       0   unacc
5       3      3     2       2         0       1   unacc
6       3      3     2       2         0       2   unacc
7       3      3     2       2         0       0   unacc
8       3      3     2       4         2       1   unacc
9       3      3     2       4         2       2   unacc

In [66]:
x=data.iloc[:,:-1]
y=data.outcome

In [60]:
x.head()

   buying  maint doors persons  lug_boot  safety
0       3      3     2       2         2       2
1       3      3     2       2         2       0
2       3      3     2       2         1       1
3       3      3     2       2         1       2
4       3      3     2       2         1       0

In [61]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=10)

In [62]:
xtrain.shape

(1208, 6)

In [69]:
from sklearn.svm import SVC#support vector classifier
from sklearn.metrics import accuracy_score,classification_report
model=SVC(kernel='rbf',C=10,gamma=0.5)#tuning gamma from 0.1 to 0.5 increases the accuracy
#value of C from 1-10 increases the acc #c-regularization paramter/penalty parmter 
#gamma-kernel coefficient , gaussian distribution
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)
print(accuracy_score(ytest,ypred))
pd.crosstab(ytest,ypred)

0.9865125240847784

col_0    acc  good  unacc  vgood
outcome
acc      119     0      4      0
good       0    16      0      0
unacc      1     0    357      0
vgood      1     1      0     20

In [70]:
#grid search
from sklearn.model_selection import GridSearchCV
parameters={'kernel':['rbf'],'C':[1,10,100,500,1000],'gamma':[0.01,0.1,0.5,1.0]}
grid_model=GridSearchCV(SVC(),parameters)

In [71]:
grid_model.fit(xtrain,ytrain)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'C': [1, 10, 100, 500, 1000],
                         'gamma': [0.01, 0.1, 0.5, 1.0], 'kernel': ['rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [73]:
grid_model.best_score_

0.972682119205298

In [74]:
grid_model.best_params_

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}